<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Edit status</h1>
<p th:text="'id: ' + ${task.id}"/>
<p th:text="'Start date: ' + ${task.startDate}"/>
<p th:text="'Finish date: ' + ${task.finishDate}"/>
<p th:text="'content: ' + ${task.content}"/>
<p th:text="'status: ' + ${task.status}"/>
<form action="#" name="status_id" th:action="@{'/editstatus/' + ${task.id}}" th:method="POST">
    <select id="status_id" name="status_id">
    <span th:each="status:${statuses}" th:remove="tag">
          <option th:text="${status.status}" th:value="${status.id}"></option>
    </span>
    </select>
    <p><input type="submit" value="Submit"/></form>

<a th:href="@{/tasklist}">
    <p><input type="button" value="Tasklist"/></p>
</a>

</body>
</html>